.background__top {
	width: 22.007rem;
	background-image: url('../img/splash-verde.png');
	background-repeat: no-repeat;
	position: absolute;
	height: 18.438rem;
	left: 0.031rem;
	top: 0px;
	z-index: -1;
}

.background__lateral {
	background-image: url('../img/splash-verde-lateral.png');
	background-repeat: no-repeat;

	position: absolute;
	width: 5.252rem;
	height: 25.938rem;
	right: -3.1%;
	top: 11rem;
	z-index: -1;
}

.background-dog {
	background-image: url('../img/Ilustração-home-mobile.png');
	background-repeat: no-repeat;

	width: 247.34px;
	height: 312.77px;
	left: 33.66px;
	top: 518px;
	z-index: -1;
}
