.background__top {
	box-sizing: border-box;
	width: 22.007rem;
	background-image: url('../img/splash-verde.png');
	background-repeat: no-repeat;
	position: absolute;
	height: 18.438rem;
	left: 0.031rem;
	top: 0px;
	z-index: -1;
}

.background__lateral {
	box-sizing: border-box;
	background-image: url('../img/splash-verde-lateral.png');
	background-repeat: no-repeat;

	position: absolute;
	width: 4rem;
	height: 25.938rem;
	right: 0;
	top: 11rem;
	z-index: -1;
}

.background-dog {
	box-sizing: border-box;
	background-image: url('../img/Ilustração-home-mobile.png');
	background-repeat: no-repeat;
	margin: 1rem auto 0px auto;

	width: 247.34px;
	height: 312.77px;

	z-index: -1;
}



@media (min-width:768px) {
	.background__top {
		background-image: url('../img/splash-verde-768.png');
		position: absolute;
		width: 560.97px;
		height: 470px;
		left: -1.17px;
		top: -1px;
	}

	.background__lateral {
		box-sizing: border-box;
		background-image: url('../img/splash-verde-lateral-768.png');
		background-repeat: no-repeat;

		position: absolute;
		width: 134.45px;
		height: 664px;
	}


}

@media (min-height:1300px) {
	.background-dog {
		margin-top: 150px;
	}
}
