.footer {
	width: 100%;
	height: 150px;

	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	background-color: var(--verde-claro);
	color: var(--branco);

}

.footer__paragrafo {
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
}


@media (min-width:1920px) {

	.footer,
	.footer--cadastro {
		height: 190px;
	}
}
