@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Poppins:wght@400;600;700&display=swap');
@import url('./background.css');
@import url('./cabecalho.css');
@import url('./principal.css');
@import url('./footer.css');

:root {
	--background-azul: #3772FF;
	--verde-claro: #36D6AD;
	--coral: #FC7071;
	--creme: #FCF0E3;
	--cinza: #737380;
	--cinza-claro: #BCBCBC;
	--branco: #FFFFFF;
}


body {
	box-sizing: border-box;
	width: 100vw;
	min-height: 100vh;

	font-family: 'Poppins', sans-serif;
	color: var(--branco);
	background-color: var(--background-azul);

}
