.sessao-principal {
	display: flex;
	flex-direction: column;

	width: 60%;
	margin: 60px auto 0px auto;
	gap: 1rem;


	text-align: center;
	align-items: center;
}


.sessao__titulo {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 1.625rem;
	line-height: 3rem;
}

.sessao__paragrafo {
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;

}

.sessao__botao {
	width: 11.25rem;
	padding: 0.625rem;


	background-color: var(--coral);
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;


	color: var(--branco);
	text-decoration: none;

	border-radius: 5px;
	filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

@media (min-width: 768px) {
	.sessao-principal {
		margin-top: 160px;
		gap: 3rem;
	}

	.sessao__paragrafo {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
	}

	.sessao__botao {
		width: 344px;
		padding: 12px;

	}
}


@media (min-width:1440px) {
	.sessao-principal {
		margin-top: -100px;
	}
}
